.title {
    font-size: 50px;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.border {
    border: 2px black solid;
}

.scores-title {
    font-size: 30px;
    margin-right: 30px;
}

.main-container {
    padding: 30px 150px;
    display: flex;
}

.title-container {
    display: flex;
}

.refresh-btn {
    font-size: 15px;
    padding: 2px 50px;
    height: 30px;
    align-self: center;
}

.left-container,
.right-container {
    padding: 50px;
    width: 35%;
}

.right-container {
    flex-direction: column;
}

.scores-table {
    padding: 2px;
}

.input-container {
    display: block;
}

.input-box {
    margin: 8px 0;
    padding: 3px 0;
}

.add-score {
    font-size: 30px;
}

.submit-btn-container {
    width: 31%;
    display: flex;
    justify-content: right;
}

.submit-btn {
    margin-top: 15px;
    font-size: 15px;
    padding: 2px 30px;
    height: 30px;
}