body {
  background-color: rgb(255, 255, 197);
}

::placeholder {
  color: rgb(206, 115, 115);
  text-align: center;
}

input,
select,
textarea {
  color: rgb(206, 115, 115);
  font-size: 16px;
  font-weight: 500;
}

.btn {
  background-color: rgb(206, 115, 115) !important;
  font-size: 16px !important;
  color: rgb(255, 255, 197);
  font-weight: bolder;
}

.title {
  font-size: 70px;
  text-align: center;
  color: rgb(206, 115, 115);
  font-weight: bold;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.border {
  border: 3px rgb(206, 115, 115) solid !important;
}

.scores-title {
  font-size: 40px;
  margin-right: 30px;
  color: rgb(206, 115, 115);
  font-weight: bold;
}

.board-title {
  font-size: 24px !important;
  font-weight: bolder;
  color: rgb(206, 115, 115);
}

.board-item {
  color: rgb(206, 115, 115);
  font-size: 16px;
  font-weight: 500;
}

.main-container {
  padding: 30px 150px;
  display: flex;
}

.title-container {
  display: flex;
}

.refresh-btn {
  font-size: 15px;
  padding: 2px 50px;
  height: 30px;
  align-self: center;
}

.left-container,
.right-container {
  padding: 50px;
  width: 35%;
  align-self: baseline;
}

.right-container {
  flex-direction: column;
}

.scores-table {
  padding: 2px;
}

.scores-list {
  list-style: none;
  padding: 0 30px;
}

.input-container {
  display: block;
}

.input-box {
  margin: 8px 0;
  padding: 3px 0;
  background-color: rgb(255, 255, 197);
}

.add-score {
  font-size: 40px;
  color: rgb(206, 115, 115);
  font-weight: bold;
}

.submit-btn-container {
  width: 31%;
  display: flex;
  justify-content: right;
}

.submit-btn {
  margin-top: 15px;
  font-size: 15px;
  padding: 2px 30px;
  height: 30px;
}
